
   .project {
    
    background: linear-gradient(#C9C9C9, #BFBFBF);
    flex-direction:column;
    align-items: center;
    padding: 5% 20%;
    justify-content: center;
    font-family: Verdana;
   }
   .descriptionProject{
    font-family: Verdana;
    font-size: 14px;
    
   }
   
   .projectCard {
    display: flex;
    justify-content: space-between;
   }
   
   .aboutMe {
    background: linear-gradient(#00594F, #008071);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
    font-family: Verdana;
    font-size: 16px;
    
   }
   .aboutMeText {
      padding: 5% 12%;
   }
   .aboutMeTraje{
      display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 12%;
   }
   .certificados {
    
    background: linear-gradient(#00594F, #008071);
    color: aliceblue;
    padding: 3%;
    font-family: Verdana;
   }
   
   .footer {
    display: flex;
    background: #001714;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #40e0d0;
    font-family: Verdana;
    padding: 3% 20%;
    font-size: 25px;
   }
   .aws{
      padding: 4%;
   }
   

   .buttonList {
      display: flex;
      justify-content: space-around;
      width: 100%;
      list-style: none;
      padding: 0;
     }
     
     .buttonList li a {
      display: block;
      font-size: 24px;
      transition: transform 0.3s;
     }
     
     .buttonList li a:hover {
      transform: scale(1.3);
     }

     .buttonListHeader {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 35px;
      display: flex;
      justify-content: space-around;
    }

     .buttonContainer {
      display: inline-block;
      background-color: #e0e0e0; /* Cor de fundo do retângulo */
      padding: 10px; /* Espaçamento interno */
      border-radius: 10px; 
      margin: 15px;
      transition: background-color 0.3s;
    }
    .buttonContainer:hover {
      background-color: #c0c0c0;
      transform: scale(1.1); 
    }
    
    .buttonRect {
      text-decoration: none;
      color: #333; /* Cor do texto do botão */
      font-weight: bold; /* Negrito */
      font-size: 16px; 
      font-family: Verdana;
    }
    .portfolioLink{
      color: #CCD3D9;
      padding: 2px;
      font-size: 16px;
    }
    .projectImage {
      height: 100%; /* Faça a imagem ocupar 100% da largura do contêiner pai */
      width: auto; /* Mantenha a proporção original da imagem */
      max-height: 350px; /* Defina a altura máxima desejada */
      max-width: 100%; /* Garanta que a imagem não ultrapasse a largura do contêiner */
    }

    @media screen and (max-width: 768px) {
      .aboutMe {
        padding: 20px;
        font-size: 14px; /* Adicione algum espaçamento nas bordas da div principal */
      }
    
      .buttonListHeader {
        flex-direction: column; 
        align-items: center;
        display:block;
      justify-content: center;
      }
    
      .buttonContainer {
        width: 100%; /* Ocupa toda a largura em telas menores */
        margin-bottom: 10px; 
        padding:  3px;
      }

      .buttonRect {
        text-decoration: none;
        color: #333; /* Cor do texto do botão */
        font-weight: bold; /* Negrito */
        font-size: 14px; 
        font-family: Verdana;
      }
      footer {
        
        padding: 3% 2%;
        font-size: 15px;
       }
       .descriptionProject{

        font-size: 10px;
        
       }

      .slick-slide img {
        max-height: 200px; /* Tamanho máximo para telas menores */
        max-width: 200px;
      }
    }